<p appResaltar>pagina-principal works!</p>
<label for="usuario">Ingrese un número de cédula: </label>
<input type="text" class="formControl" id="cedula" [(ngModel)]="cedula">
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Primer Nombre</th>
        <th scope="col">Segundo Nombre</th>
        <th scope="col">Primer Apellido</th>
        <th scope="col">Segundo Apellido</th>
        <th scope="col">Cedula</th>
      </tr>
    </thead>
    <tbody>
      <tr appResaltar *ngFor="let usuario of arreglo | filtro : cedula; index as i">
        <td>{{usuario.primerNombre}}</td>
        <td>{{usuario.segundoNombre}}</td>
        <td>{{usuario.primerApellido}}</td>
        <td>{{usuario.segundoApellido}}</td>
        <td>{{usuario.cedula}}</td>
      </tr>
    </tbody>
  </table>